nav{
  background-color: #794bc4
}
.btn-facebook {
  background: #3b5998;
  border-radius: 0;
  color: #fff;
  border-width: 1px;
  border-style: solid;
  border-color: #263961;
}
.btn-facebook:link,
.btn-facebook:visited {
  color: #fff;
}
.btn-facebook:active,
.btn-facebook:hover {
  background: #263961;
  color: #fff;
}
.btn-instagram {
  color: #fff;
  background-color: #517fa4;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-instagram:hover,
.btn-instagram:focus,
.btn-instagram:active,
.btn-instagram.active,
.open .dropdown-toggle.btn-instagram {
  color: #fff;
  background-color: #446a89;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter {
  color: #fff;
  background-color: #2ba9e1;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:hover,
.btn-twitter:focus,
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  color: #fff;
  background-color: #1c92c7;
  border-color: rgba(0, 0, 0, 0.2);
}
.btn-twitter:active,
.btn-twitter.active,
.open .dropdown-toggle.btn-twitter {
  background-image: none;
}
